.wrapper
    height: 100vh
    display: flex
    flex-direction: column
    &_main
        flex-grow: 1
        display: grid
        grid-template-columns: 0.5fr 3fr
        grid-template-rows: 1fr
        gap: 0px 0px
        &__createMess
            margin-left: 20px
            margin-top: 20px
    &_sidebar
        padding: 10px
    &_footer
        background-color: #6db958
        color: white
        height: 20px
